In [2]:
directory = "res"
import os
csv_filename = os.path.join(directory,"datafile.csv")
print(csv_filename)

res\datafile.csv

In [3]:
with open(csv_filename,"r") as f:
    for line in f:
        print(line.strip().split(","))

['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4']
['p101111', 'Ali Khayam', ' 64', ' 78.5', ' 89', ' 25']
['p101112', 'Mudasser Farooq', ' 14', ' 28.5', ' 83', ' 76']
['p101113', 'Tamleek Ali', ' 87', ' 12', ' 1.6', ' 22']

In [5]:
rows =[]
with open(csv_filename) as f:
    for line in f:
        print(line.strip().split(","))
        rows.append(line.strip().split(","))

['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4']
['p101111', 'Ali Khayam', ' 64', ' 78.5', ' 89', ' 25']
['p101112', 'Mudasser Farooq', ' 14', ' 28.5', ' 83', ' 76']
['p101113', 'Tamleek Ali', ' 87', ' 12', ' 1.6', ' 22']

In [6]:
rows

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4'],
 ['p101111', 'Ali Khayam', ' 64', ' 78.5', ' 89', ' 25'],
 ['p101112', 'Mudasser Farooq', ' 14', ' 28.5', ' 83', ' 76'],
 ['p101113', 'Tamleek Ali', ' 87', ' 12', ' 1.6', ' 22']]

In [16]:
for r in rows[1:]:
    for i in range(2,6):
        r[i]=float(r[i])

In [17]:
rows

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4'],
 ['p101111', 'Ali Khayam', 64.0, 78.5, 89.0, 25.0],
 ['p101112', 'Mudasser Farooq', 14.0, 28.5, 83.0, 76.0],
 ['p101113', 'Tamleek Ali', 87.0, 12.0, 1.6, 22.0]]

# writing csv file

In [18]:
",".join(['a','b','c'])

'a,b,c'

In [30]:
for r in rows:
    print([str(c) for c in r])

['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4']
['p101111', 'Ali Khayam', '64.0', '78.5', '89.0', '25.0']
['p101112', 'Mudasser Farooq', '14.0', '28.5', '83.0', '76.0']
['p101113', 'Tamleek Ali', '87.0', '12.0', '1.6', '22.0']

In [2]:
out_rows = []

In [3]:
for r in out_rows:
    out_line = ",".join(r)
    print(out_line)

In [6]:
out_rows

[]

In [35]:
csv_filename_out= os.path.join(directory,"datafile_out.csv")
with open(csv_filename_out,"w") as f:
    for r in out_rows:
        out_line = ",".join(r)
        f.write(out_line + "/n")