In [ ]:
from math import sqrt

In [ ]:
sqrt(16)

In [ ]:
p = 10
x = 3
y = 2
z = f(x)
print('.x=',x)
print('.y=',y)

In [ ]:
def f(x):
    y = 3
    x = x+1
    print('.x=',x)
    print('.y=',y)
    return x

In [ ]:
import math

In [ ]:
math.sqrt(2)

sal = int(input(("enter the value")))

In [4]:
sal = int( input("enter the value"))
if sal < 50000:
    tax = 0
elif sal >=50001 and sal <= 100000:
    tax = 2
elif sal >=100001 and sal <= 200000:
    tax = 3
elif sal >=200001 and sal <= 300000:
    tax = 4
else:
    tax = 5
print ("tax rate",tax)

def calculate(sal,t):
    amount = sal*t/100
    return amount  

amount = calculate(sal,tax)
print("calculate=",amount)

enter the value222222
tax rate 4
calculate= 8888.88

In [5]:
def real_number(x):
    #"all even and odds numbers"
        if x%2 == 0:            
            print("even")
        else:
            print("odd")

In [14]:
real_number(62)

even

In [ ]:
def real_number(x):
    #"all even and odds numbers"
        if x%2 == 0:            
            return("even")
        else:
            return("odd")

In [ ]:
def real_number(num):
    if (num % 2) ==0:
        print("{num} is even")
    else:
            print("{num} is odd")

In [ ]:
real_number(11)

In [15]:
     def  odd(): 
        if number%2==0: 
            return False 
        if number%2!=0: 
            return True 

print ("OddNumber(2)")

OddNumber(2)

In [2]:
num = int(input("enter a number : "))
if (num % 2) == 0:
    print("{num} is even",num)
else:
        print("{0} is odd")

enter a number : 12
{num} is even 12

In [9]:
for i in range (1,16):
    if  i%2 != 0:
        continue
    print(i)
print("done")

2
4
6
8
10
12
14
done

In [1]:
for i in range(1,16):
    if i%2==0: # % is remainder and == for comparison
        continue # skip
    print(i)
print("done")  # question why not 2 and 4

1
3
5
7
9
11
13
15
done

In [ ]:
for i in range(1,16):
    if i%2==0: # % is remainder and == for comparison
        print(i)
print("done")  # question why not 2 and 4

In [5]:
n = 0
o = 1
e = 0
for i in range(1,2):
    n = n + 1
    o = o + 2
    e = e + 2
print("total number =:", n)
print("total odd   =:", o)
print("total  even =:", e)

total number =: 1
total odd   =: 3
total  even =: 2

In [17]:
# FOR PRIME NUMBERS
n = int(input("Enter the value : "))
for i in range (2,n+1):
    for j in range(2,i):
        if i%j ==0:
            break
    else:
        print(i)

Enter the value : 5
2
3
5

In [17]:
# tables
for i in range(1,4):
    print("table of :",i)
    for j in range(1,11):
        print(j ,"X",i,"=",j*i)

table of : 1
1 X 1 = 1
2 X 1 = 2
3 X 1 = 3
4 X 1 = 4
5 X 1 = 5
6 X 1 = 6
7 X 1 = 7
8 X 1 = 8
9 X 1 = 9
10 X 1 = 10
table of : 2
1 X 2 = 2
2 X 2 = 4
3 X 2 = 6
4 X 2 = 8
5 X 2 = 10
6 X 2 = 12
7 X 2 = 14
8 X 2 = 16
9 X 2 = 18
10 X 2 = 20
table of : 3
1 X 3 = 3
2 X 3 = 6
3 X 3 = 9
4 X 3 = 12
5 X 3 = 15
6 X 3 = 18
7 X 3 = 21
8 X 3 = 24
9 X 3 = 27
10 X 3 = 30

In [24]:
def foo(x):
    if x<10:
        return x
    bar(3)
    print(x)
def bar (y):
    foo(5)
    print(y)
bar=foo
foo(50)

50

In [33]:
fruits = {"apple", "banana", "cherry"}

In [34]:
y=fruits.discard("banana")

In [35]:
y

In [36]:
fruits

{'apple', 'cherry'}