In [16]:
a = [1,2,3,4]
b = [6,7,8,9]
c =a+b

In [17]:
print(c)

[1, 2, 3, 4, 6, 7, 8, 9]

In [19]:
a.extend(b)

In [20]:
a

[1, 2, 3, 4, 6, 7, 8, 9]

In [25]:
for i in b:
    a.append(44)

In [26]:
a

[1, 2, 3, 4, 6, 7, 8, 9, 6, 7, 8, 9, 44, 44, 44, 44]

In [33]:
a.index(9)

7

In [39]:
a.sort(reverse=True)

In [40]:
a

[44, 44, 44, 44, 9, 9, 8, 8, 7, 7, 6, 6, 4, 3, 2, 1]

In [41]:
a = [[1,2,3],[4,5,6],[7,8,9]]

In [42]:
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
list(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [59]:
a[1][1]

5

In [66]:
for a in range(1,30):
    print(((a)))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [81]:
word = ["q","w","f"]

In [82]:
list(word)

['q', 'w', 'f']

In [87]:
word[2]

'f'

In [100]:
birthday = "june/1/1999"

In [104]:
c =birthday.split("/")

In [108]:
x = c[0]

In [109]:
x

'june'

In [114]:
print ((x))

june

In [120]:
z = [1,2,3,4,5,6,7]
print (z[1:4])

[2, 3, 4]

In [121]:
for i in z:
    print(i)

1
2
3
4
5
6
7

In [122]:
z

[1, 2, 3, 4, 5, 6, 7]

In [124]:
#odd 
print (z[::2])

[1, 3, 5, 7]

In [125]:
#even
print(z[1::2])

[2, 4, 6]

In [126]:
z.append(22)

In [127]:
z

[1, 2, 3, 4, 5, 6, 7, 22]

In [128]:
z[2]=33

In [130]:
z

[1, 2, 33, 4, 5, 6, 7, 22]

In [133]:
z.remove(33)

In [134]:
z

[1, 2, 4, 5, 6, 7, 22]

In [135]:
c

['june', '1', '1999']

In [137]:
a =[1,2,3,4,5]
b = [6,7,8,9]
c= a+b

In [138]:
c

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [141]:
x = c[3:5]

In [142]:
x

[4, 5]

In [143]:
a

[1, 2, 3, 4, 5]

In [145]:
b

[6, 7, 8, 9]

In [150]:
b[2:]

[8, 9]

In [151]:
a

[1, 2, 3, 4, 5]

In [166]:
len(a)

5

In [181]:
a= [ 1,2,3,4,5]
b= [2,7,3,88,0]
def f(a,b):
    for i in a:
        for j in b:
            if i==j:
                return(True)
    return(False)
print(f(a,b))

True

In [2]:
a = [[1,2],[4,5,6],[7,8,9,566]]

In [4]:
a[1][2]

6

In [ ]:
def f(x):
    choice = "y"
    while choice !="n" or choice !="N":
        a = input("enter the value ")
        b = input("enter the value ")
        a  = int(a)
        b= int(b)
        oper = input("enter the operator")
        if  oper =="+":
                print("addition",a+b)
        if  oper =="-":
                print("subtraction",a-b)
        if  oper =="*":
                print("multiplication",a*b)
        if  oper =="/":
                print("div",a/b)
choice = input("continue??(y/n)")

In [ ]:
f(3)

In [4]:
for i in range(1,6):
    print("*" *i)

*
**
***
****
*****